# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tactical-Blobs.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Carrera de VideoJuegos\CositasHaciendose\Tactical-Blobs\.idea\.idea.Tactical-Blobs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
